<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.heaton.blelibrary">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- If your app targets Android 9 or lower, you can declare ACCESS_COARSE_LOCATION instead. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application android:allowBackup="true" android:supportsRtl="true">

        <service android:name="cn.com.heaton.blelibrary.ble.BleRequestImpl"/>

    </application>

</manifest>
