<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.heaton.blelibrary">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name="cn.com.heaton.blelibrary.ble.BluetoothLeService"/>

    </application>

</manifest>
