<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.mybledemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".activity.BaseActivity"-->
            <!--android:theme="@android:style/Theme.Light.NoTitleBar" />-->

        <activity
            android:name=".activity.BleActivity"
            android:screenOrientation="portrait"
            android:label="Ble界面"/>

        <activity
            android:name=".activity.SppActivity"
            android:screenOrientation="portrait"
            android:label="SPP界面"/>

        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.IntroducedActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>